@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Get the customer ID from the session
    string customerId = HttpContextAccessor.HttpContext.Session.GetString("CustomerId");
    string customerName = HttpContextAccessor.HttpContext.Session.GetString("CustomerName");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Banking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Banking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        @if (string.IsNullOrEmpty(customerId))
                        {
                            <li class="nav-item justify-content-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="register">Sign up</a>
                            </li>
                            <li class="nav-item justify-content-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="login">Sign in</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-area="" asp-controller="Home" asp-action="Logout" class="form-inline">
                                    <button type="button" class="nav-link btn btn-link text-dark" onclick="showConfirmation()">Logout</button>
                                    <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Home")" />
                                </form>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center">
            &copy; 2023 - OnlineBanking
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function showConfirmation() {
            var customerName = "@customerName";
            var confirmed = confirm("Are you sure you want to logout, " + customerName + "?");
            if (confirmed) {
                document.getElementById("logoutForm").submit();
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
